.homeContainer {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    display: grid;
    max-width: 400px;
  }

  .feed {
    max-width: 405px;
    margin-top: 10px;
  }
  .sidebar {
    height: auto;
  }
  .sidebarFriendList {
    display: none;
  }
  .sidebarWrapper {
    display: none;
  }
  .topbarCenter{
    flex: 12
  }
  .topbarLeft{
    flex: 6
  }
  
  

  .shareWrapper {
    padding: 2px;
  }
}
